#java specific
*.class
*.jar
# without gradle-wrapper.jar our build will fail
!gradle/wrapper/gradle-wrapper.jar

# Log file
*.log

#Mac
**/.DS_Store

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

### Gradle ###
.gradle
**/build/
**/logs/
**/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
**/.idea
*.iws
*.iml
*.ipr

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
